@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dosis:wght@300;500&display=swap');


/* For the whole site*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
    font-family: dosis; 
}

body{
    padding-top: 120px;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

section{
    border-bottom: 5px solid black;
    padding: 120px 0 100px 0;
    height: 800px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
/*End of For the whole site*/
 


/* Header */

.header-container{
    width: 100%;
    height: 120px;
    display: flex;
    background-color: rgb(255, 94, 0);
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
    z-index: 1;
}

header .header-container h1{
    margin-left: 30px;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

header .header-container .logo{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

header .header-container .logo img{

    height: 100%;
}

.navbar ul{
    list-style: none;
    display: flex;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    margin: 0 30px;
    font-size: 1.5rem;
    transition: 0.3s;
    font-weight: 300;
}

.navbar ul li a:hover{
    color: white;
}

/* End of Header */

/* General Info */
.general-info{
    flex-direction: column;
    margin: 0 auto;
    padding-top: 100px;
}

#general-info h1{
    font-size: 4rem;
    margin-bottom: 30px;
    font-weight: 500;
}

#general-info h2{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 300;

}

#general-info a{
    margin-top: 30px;
    font-size: 2rem;
    padding: 10px 30px;
    background-color: white;
    border: 3px solid rgb(255, 94, 0);
    transition: 300ms ease all;
}

#general-info a:hover{
    color: white;
    background-color: rgb(255, 94, 0);
}

/* General Info */


/* Photo Gallery */
.photo-gallery{
   width: 80%;
   margin: 0 auto;
}

.photo-gallery img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/*  End of photo Gallery */


/* Google map */
.google-map{
    flex-direction: column;
}

/* Google Map */

@media only screen and (max-width: 650px){
    .header-container{
        padding: 0 5px;
    }
    header .header-container h1{
        font-size: 1.5rem;
    }

    .navbar ul li a{
        font-size: .75rem;
        margin: 0 5px;
    }

    header .header-container .logo{
        height: 70px;
    }
